<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">

  <title>All Posts</title>
</head>
<body>
  <h1>All Posts</h1>
  <ul>
    <% posts.forEach(post => { %>
      <li>
        <h2><%= post.title %></h2>
        <p><%= post.content %></p>
        <p><strong>Author:</strong> <%= post.User.username %></p>
        <p><strong>Categories:</strong>
          <% post.Categories.forEach(category => { %>
            <%= category.name %>
          <% }); %>
        </p>
        <h3>Comments:</h3>
        <ul>
          <% post.Comments.forEach(comment => { %>
            <li><%= comment.content %> - <em><%= comment.User.username %></em></li>
          <% }); %>
        </ul>
        <a href="/posts/<%= post.id %>"> Details</a>
        <a href="/posts/update/<%= post.id %>"><button>Update Post</button></a>
        <button type="button" onclick="deletePost('<%= post.id%>')">Delete Post</button>

        <a href="/posts/<%= post.id %>/categories"><button>get Categories</button></a>

        <a href="/posts/<%= post.id %>/createCategory"><button>Create Category</button></a>

        <a href="/posts/<%= post.id %>/comments"><button>Get Comments</button></a>

        <a href="/posts/<%= post.id %>/createComments"><button>Create Comments</button></a>

      </li>
    <% }); %>
  </ul>
  <a href="/posts/create"><button>Create New Post</button></a>

</body>
<script src="/scripts.js"></script>

</html>
