<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  
  <title>User List</title>
</head>
<body>
  <h1>User List</h1>
  <ul>
    <% users.forEach(user => { %>
    <li>
      <a href="/users/<%= user.id%>"><span><%= user.username %></span></a>
      <span><%= user.email %></span>
      <a href="/users/update/<%= user.id%>"> Update User</a>
      <button type="button" onclick="deleteFile('<%= user.id%>')">Delete User</button>

    </li>
    
    <% }); %>
  </ul>
  <a href="/users/create"><button>Create New User</button></a>
</body>
<script src="/scripts.js"></script>
</html>
